
doctype html
html
    //- extends ../shared
    include ../shared/head

        
    body 
          style(type='text/css').
               th,
               td {
                    white-space: nowrap;
               }
          div(class="d-flex vh-100")
               include ../shared/sidebar
               div(class="content col overflow-hidden")
                    include ../shared/header 
                         
                    div(class="main-content p-4")
                         div(class="page-width h-100 w-100 position-relative")
                              h2(class="text-start")= title
                              div(class="form-input-group mt-5 text-start")
                                   h3(class="mb-0") Edit
                                   form(action="/office/muser/store" class="text-left form-validate" method="POST" enctype="multipart/form-data")
                                        div(class="row py-3 form-group mt-2")

                                             div(class="col-md-12 pt-3")
                                                  label(for="groupname") Nama Pengguna
                                                  input(type="text" name="Username" id="username" value=user.Username class="form-control")
                                             
                                             div(class="col-md-12 pt-3")
                                                  label(for="description") Password
                                                  input(type="password" name="Password" id="password" value="" class="form-control")
                                             
                                             div(class="col-md-12 pt-3")
                                                  label(for="description") Role
                                                  select(aria-label=".form-select example"  name="M_Groupuser_Id" id="groupuerid" value="" class="form-select form-select mb-3")
                                                       option(value="0") Pilih Role
                                                       each role in roles
                                                            option(value=role.Id) #{role.GroupName}
                                             div(class="file-upload-custom")
                                                  h5(class="form-label d-block") Foto
                                                  input(type="file" id="actual-btn" name="file" hidden)
                                                  label(for="actual-btn" class="btn-primary rounded-pill") Choose File
                                                  span(id="file-chosen") No file chosen

                                        div(class="row py-3 mx-0")
                                             button(type="submit" class="btn btn-info rounded-pill py-3" style="max-width: 200px") Simpan
                                   

               include ../shared/footer

script.
    const actualBtn = document.getElementById('actual-btn');

    const fileChosen = document.getElementById('file-chosen');

    actualBtn.addEventListener('change', function() {
        fileChosen.textContent = this.files[0].name
    })
          