div(class="modal fade" id="hapusModal" tabindex="-1" aria-labelledby="hapusModalLabel" aria-hidden="true")
     div(class="modal-dialog  modal-dialog-centered")
          div(class="modal-content")
               div(class="modal-header border-bottom-0")
                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
               div(class="modal-body")
                    h3 Anda yakin ingin menghapus?
                    div(class="d-flex justify-content-center")
                         button(id="btnDeleteGroupUser" class="btn btn-info rounded-pill mt-0 me-2") Ya
                         button(class="btn btn-outline-info  rounded-pill" data-bs-dismiss="modal") Tidak 