html
     head 
     body 
          form(action='/test/formpost' method="POST" )
               div #{lang('form.name')}
               div
                    input(name="nama" value=``)
               button(type="submit" value="upload") Upload